@font-face {
    font-family: 'Roboto Condensed Modified';
    font-style: normal;
    font-weight: 400;
    src: url('RobotoCondensed-Regular.modified.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    background: url('dark_circles_@2X.png') repeat;
    background-size: 10px 12px;
}

.encoded-text {
    font-family: "Roboto Condensed Modified", serif;
}

.free-text {

}

.region {
    display: inline-block;
    width: calc(50% - 25px);
    vertical-align: top;
}

.entry {
    border: 1px solid #999;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}

h3 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 18px;
}

.main-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid white;
    box-shadow: 1px 1px 3px 0 #CCC;
    background-color: rgb(200, 202, 202);
    min-height: 400px;
}

.input-container {
    padding: 4px;
    border: 1px solid #999;
    box-shadow: inset 1px 1px 3px #CCC;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    border: none;
    width: calc(100% - 100px);
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', serif;
    color: #666;
}

button {
    font-size: 12px;
    padding: 4px;
    border-radius: 2px;
    background-color: darksalmon;
    border: 1px solid #666;
    width: 80px;
    color: white;
    text-shadow: 1px 1px 2px #9493a6;
    cursor: pointer;
}

button:hover {
    background-color: rgb(233, 119, 87);
}